.brands-part {
  position: relative;
  padding-top: 50px;
  background-color: $soft-gray;
  .brands {
    display: flex;
    justify-content: space-between;
  }
  .subscribe-blank {
    position: relative;
    bottom: 20px;
    margin-top: 90px;
    display: flex;
    background-image: $blue-gradient;
    border-radius: 2px;
    padding: 30px 53px 30px 50px;
    z-index: 1;
    p {
      width: 253px;
      font-family: $font-martel;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.1px;
      color: $white;
      margin: 0;
    }
    form {
      padding-left: 180px;
      label {
        display: none;
      }
      input {
        background-color: $soft-gray;
        font-family: $font-montserrat;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.2px;
        color: $grey;
        padding: 15px 235px 15px 20px;
        border: 0;
      }
    }
  }
  .subscribe-backcolor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 77px;
    background-color: $dark-blue;
  }
}
