$font-martel: Martel, serif;
$font-montserrat: Montserrat, sans-serif;
$font-open: Open Sans, sans-serif;

$grey: #737373;
$soft-gray: #FAFAFA;
$white: #FFFFFF;
$dark-blue: #252B42;
$brown: #784f33;
$golden: #d0a144;
$blue-gradient: linear-gradient(270deg, #295c7a -1.04%, #0072b5 100%);
